@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}





@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}




@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url(Roboto-Black.ttf);
}


@font-face {
  font-family: 'Palatino Linotype', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(palatinolinotype_roman.ttf);
}